/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #FFF;
    color: #1E2A45;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    letter-spacing: 1.1px;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */

header {
    background-color: #1E2A45;
}

.flashlight {
    cursor: url('img/flashlight.png'), auto;
}

header p {
    padding-top: 20px;
    color: #F8F8F8;
}

.name {
    padding-bottom: 50px;
}

header span {
    color: #1E2A45;
    transition: color 30s;
}

header span:hover {
    color: #F8F8F8;
    transition: color 0.3s;
}


/* ----------------------------------------------- */
/* SANDWICHES */
/* ----------------------------------------------- */

.sandwiches {
    background-color: #F8F8F8;
}


/* ----------------------------------------------- */
/* RIDDLE */
/* ----------------------------------------------- */

.riddle {
    background-color: #F8F8F8;
}

#riddle-won {
    color: #27AE60;
    font-size: 120%;
}

/* ----------------------------------------------- */
/* MOUSE-MANIA */
/* ----------------------------------------------- */

.mouse-mania {
    background-color: #F8F8F8;
}

.goal-mouse {
    cursor: pointer;
    color: #FFF;
    border: 1px solid #1E2A45;
    padding: 5px;
    transform: scale(1.5);
}

.goal-mouse:hover {
    color: #1E2A45;
}

#mouse-mania-won {
    color: #27AE60;
    font-size: 240%;
}


/* ----------------------------------------------- */
/* INDIANA-JONES */
/* ----------------------------------------------- */

.indiana-jones {
    background-color: #FFF;
}

.letter-platform {
    background-color: #45391E;
    color: #FFF;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

.letter-platform.correct {
    cursor: url('img/shoe-prints.png'), pointer;
}

.letter-platform.incorrect {
    cursor: url('img/skull-crossbones.png'), pointer;
}

/* ----------------------------------------------- */
/* FUN-FACTS */
/* ----------------------------------------------- */

.fun-facts {
    background-color: #FFF;
}

/* ----------------------------------------------- */
/* INTRO */
/* ----------------------------------------------- */

.intro {
    background-color: #FFF;
}

.profile-pic {
    border-radius: 50px;
    border: 3px solid #0099FF;
}

/* ----------------------------------------------- */
/* WORK-EXP */
/* ----------------------------------------------- */

.work-exp {
    background-color: #F8F8F8;
    color: #1E2A45;
    font-weight: 400;
    font-size: 90%;
}

/* Centered text w.r.t. image */
.my-centered {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Container holding the image and the text */
.my-container {
    position: relative;
    text-align: center;
    padding: 0;
}

.my-container img {
    width: 100%;
    height: 100%;
    padding: 0;
}

#KR, #PW, #Lab, #Peer {
    display: none;
}

/* ----------------------------------------------- */
/* EDUCATION */
/* ----------------------------------------------- */

.education {
    background-color: #1E2A45;
    color: #F8F8F8;
}

.education h2 {
    color: #F8F8F8;
}

.education h2:after {
    display: block;
    height: 2px;
    background-color: #9F9F9F;
    content: " ";
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
}

.education p {
    line-height: 1.8;
}

.princeton {
    color: #FF8F00;
}

.princeton-desc a {
    color: #FFC57C;
}

.princeton-desc a:hover {
    color: #F89820;
}

.jfk {
    color: #00D632;
}

.jfk-desc a {
    color: #89F5A2;
}

.jfk-desc a:hover {
    color: #0eb936;
}

/* ----------------------------------------------- */
/* CONTACT-ME */
/* ----------------------------------------------- */

.contact-me {
    background-color: #1E2A45;
    color: #F8F8F8;
}

.contact-me h2 {
    color: #F8F8F8;
}

.contact-me h2:after {
    display: block;
    height: 2px;
    background-color: #9F9F9F;
    content: " ";
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
}

.social-media-link {
    color: #F8F8F8;
}

#social-media-mail:hover {
    color: #FF8F00;
}

#social-media-phone:hover {
    color: #3DDC84;
}

#social-media-github:hover {
    color: #AD5C51;
}

#social-media-instagram:hover {
    color: #3F729B;
}

#social-media-facebook:hover {
    color: #3B5998;
}

#social-media-linkedin:hover {
    color: #0072B1;
}

#social-media-twitter:hover {
    color: #38A1F3;
}



/* ----------------------------------------------- */
/* LANGUAGES */
/* ----------------------------------------------- */

.languages {
    background-color: #FFF;
    color: #1E2A45;
}

.inappropriate {
    list-style: none;
}


.clickthrough {
    color: #0099FF;
    border: 1px solid #0099FF;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
}

/* ----------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------- */

footer {
    background-color: #1E2A45;
    color: #F8F8F8;
    font-size: 70%;
    text-align: right;
}


/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */

/* ----- HEADINGS ----- */
h1,
h2,
h3,
h4 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 3px;
    margin-left: 3px;
    color: #1E2A45;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
    display: inline;
    transition: color 30s;
}

h1:hover {
    transition: color 0.3s;
    color: #F8F8F8;
}


h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #0099FF;
    content: " ";
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
}

h3 {
    font-size: 130%;
    word-spacing: 2px;
    margin-bottom: 30px;
    letter-spacing: 1px; 
}

.button.is-rounded.is-info:link,
.button.is-rounded.is-info:visited {
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.button.is-rounded.is-info:hover,
.button.is-rounded.is-info:active {
    background-color: #0085DD;
}

/* ----- LINKS ----- */

a {
    color: #0099FF; 
}

/* ----- FORM CONTROL ----- */
textarea {
    color: #1E2A45;
}

.label {
    color: #1E2A45;
}